<!DOCTYPE html>
<html>
<head>
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Pomodoro Scheduler</h1>
    
    <table>
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Time (minutes)</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task['task'] }}</td>
                <td>{{ task['time'] }}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    
    
    <p>Total time: {{ total_time }}</p>
    <p>Number of pomodoros: {{ num_pomodoros }}</p>
</body>
</html>